In [1]:
#To find the median of the list, importing the statistics module
import statistics

#declared a list with 10 students ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("declared ages list:",ages)

#to sort the ages list sort() function is used
ages.sort()
print("Sorted ages list:", ages)

#Finding Min age of the ages list
minimum_age = min(ages)
print("Minimum Age:", minimum_age)

#Finding Max age of the ages list
maximum_age = max(ages)
print("Maximum Age:", maximum_age)
print("---------------------------------------------------------------------------------------------")

#adding min and max age again to the ages list using append() function
ages.append(minimum_age)
ages.append(maximum_age)
print("After adding min and max age, the ages list:", ages)
print("---------------------------------------------------------------------------------------------")

print("Median of the ages list:", statistics.median(ages)) #finding the median of the ages list
print("---------------------------------------------------------------------------------------------")
print("Average of the ages list:", sum(ages)/len(ages)) #finding the averages of the ages list
print("---------------------------------------------------------------------------------------------")
print("Range of the ages list:", max(ages)-min(ages)) #finding the range of ages list

declared ages list: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Sorted ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26
---------------------------------------------------------------------------------------------
After adding min and max age, the ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
---------------------------------------------------------------------------------------------
Median of the ages list: 24.0
---------------------------------------------------------------------------------------------
Average of the ages list: 22.75
---------------------------------------------------------------------------------------------
Range of the ages list: 7

In [2]:
dog = {} #creating an empty dictionary named as dog
print(type(dog)) #printing the data type of dog variable
#assigning key-value pairs to the dog dictionary
dog["name"] = "Rocky" 
dog["color"] = "Gold"
dog["breed"] = "Golden Retriever"
dog["legs"] = 4
dog["age"] = 1

print(dog) #printing the dog dictionary
print("-----------------------------------------------------------------------------------------------------------------------")
print("dog dictionary keys as a list:\n", dog.keys()) #printing the keys of dog dictionary
print("-----------------------------------------------------------------------------------------------------------------------")
print("dog dictionary values as a list:\n", dog.values()) #printing the values of dog dictionary
print("-----------------------------------------------------------------------------------------------------------------------")

#creating a dictionary named as student and assigning key-value pairs
student = {'first_name': 'Aravinda Krishna', 
            'last_name': 'Gorantla', 
            'gender': 'Male', 
            'age': 26, 
            'marital_status': 'Unmarried', 
            'skills': ['Python', 'MongoDB', 'Neo4j', 'SQL'], 
            'country': 'United States', 
            'city': 'Overland Park', 
            'address': {'street': '11250 Glenwood St', 'Zipcode': 66211}}

print(student) #printing the student dictionary

print("-----------------------------------------------------------------------------------------------------------------------")
print("Length of student dictionary:", len(student)) #printing the length of the student dictionary
print("-----------------------------------------------------------------------------------------------------------------------")
print(student["skills"]) #printing values of skills
print(type(student["skills"])) #printing the data type of skills in the dictionary
print("-----------------------------------------------------------------------------------------------------------------------")

#adding new skills to the skills list
student["skills"].append("Java") 
student["skills"].append("Machine Learning")
print(student["skills"])
print("-----------------------------------------------------------------------------------------------------------------------")
print("Student dictionary keys as a list:\n", student.keys()) #printing the keys of student dictionary
print("-----------------------------------------------------------------------------------------------------------------------")
print("Student dictionary values as a list:\n", student.values()) #printing the values of student dictionary
print("-----------------------------------------------------------------------------------------------------------------------")

<class 'dict'>
{'name': 'Rocky', 'color': 'Gold', 'breed': 'Golden Retriever', 'legs': 4, 'age': 1}
-----------------------------------------------------------------------------------------------------------------------
dog dictionary keys as a list:
 dict_keys(['name', 'color', 'breed', 'legs', 'age'])
-----------------------------------------------------------------------------------------------------------------------
dog dictionary values as a list:
 dict_values(['Rocky', 'Gold', 'Golden Retriever', 4, 1])
-----------------------------------------------------------------------------------------------------------------------
{'first_name': 'Aravinda Krishna', 'last_name': 'Gorantla', 'gender': 'Male', 'age': 26, 'marital_status': 'Unmarried', 'skills': ['Python', 'MongoDB', 'Neo4j', 'SQL'], 'country': 'United States', 'city': 'Overland Park', 'address': {'street': '11250 Glenwood St', 'Zipcode': 66211}}
-----------------------------------------------------------------------------------------------------------------------
Length of student dictionary: 9
-----------------------------------------------------------------------------------------------------------------------
['Python', 'MongoDB', 'Neo4j', 'SQL']
<class 'list'>
-----------------------------------------------------------------------------------------------------------------------
['Python', 'MongoDB', 'Neo4j', 'SQL', 'Java', 'Machine Learning']
-----------------------------------------------------------------------------------------------------------------------
Student dictionary keys as a list:
 dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
-----------------------------------------------------------------------------------------------------------------------
Student dictionary values as a list:
 dict_values(['Aravinda Krishna', 'Gorantla', 'Male', 26, 'Unmarried', ['Python', 'MongoDB', 'Neo4j', 'SQL', 'Java', 'Machine Learning'], 'United States', 'Overland Park', {'street': '11250 Glenwood St', 'Zipcode': 66211}])
-----------------------------------------------------------------------------------------------------------------------

In [3]:
sisters = ("Siri","Chinni","Chinnari") #sisters tuple
brothers = ("Sankar","Sumanth","Ruthvik","Karthik") #brothers tuple
siblings = brothers + sisters #Joining the tuples sisters and brothers
print(siblings)
print("-------------------------------------------------------------------------------------------------------------")
print("No of Siblings: ", len(siblings)) #pqrinting the length of the siblings tuple
print("-------------------------------------------------------------------------------------------------------------")
siblings_list = list(siblings) #converting the siblings tuple to list

#Modifying the siblings list by appending father and mother name
siblings_list.append("Siva Sankara Rao")
siblings_list.append("Hema Lakshmi")
family_members = tuple(siblings_list) #converting the list into tuple
print(family_members)

('Sankar', 'Sumanth', 'Ruthvik', 'Karthik', 'Siri', 'Chinni', 'Chinnari')
-------------------------------------------------------------------------------------------------------------
No of Siblings:  7
-------------------------------------------------------------------------------------------------------------
('Sankar', 'Sumanth', 'Ruthvik', 'Karthik', 'Siri', 'Chinni', 'Chinnari', 'Siva Sankara Rao', 'Hema Lakshmi')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of the set it_companies: ",len(it_companies)) #Printing the length of the set: it_companies
print("------------------------------------------------------------------------------------------------")
it_companies.add("Twitter") #adding twitter to the set: it_companies
print(it_companies)
print("------------------------------------------------------------------------------------------------")
it_companies.update(["Alpha","Infosys","Tesla"]) #adding multiple companies to the set: it_companies
print(it_companies)
print("------------------------------------------------------------------------------------------------")
it_companies.remove("Amazon") #removing the company Amazon from the set: it_companies
print(it_companies)

'''it_companies.remove("Amazon")''' #When we try to remove Amazon again, we will get an error as it is not present in the set
it_companies.discard("Amazon") #if we use discard, then we dont get any error even if it is not present in the set

'''remove() raises an error when the element not exists in the set. where as discard() does not raise any error
even if the element is not found in the set'''
print("------------------------------------------------------------------------------------------------")

C = A | B #performs the union of A and B sets
print("Union of A and B: ",C)
print("------------------------------------------------------------------------------------------------")
D = A & B #performs the intersection of A and B sets
print("Intersection of A and B: ",D)
print("------------------------------------------------------------------------------------------------")
print("Is A subset of B: ",A.issubset(B)) #checking if A is subset of B
print("------------------------------------------------------------------------------------------------")
print("Are A and B disjoint sets: ",A.isdisjoint(B)) #checking whether the intersection of A and B is null or not
print("------------------------------------------------------------------------------------------------")
print("After joining A with B: ",A.union(B)) #joining A with B
print("After joining B with A: ",B.union(A)) #joining B with A
print("------------------------------------------------------------------------------------------------")
print("Symmetric difference of A and B: ",A.symmetric_difference(B)) #printing the compliment of A intersection B
print("------------------------------------------------------------------------------------------------")
del it_companies #deleting the set it_companies
del A  #deleting the set A
del B  #deleting the set B
del C  #deleting the set C
del D  #deleting the set D

age_set = set(age) #converting the age list into a set
print("Length of list age: ",len(age)) #printing the length of the age list
print("Length of age_set is: ",len(age_set)) #printing the length of age_set
print("------------------------------------------------------------------------------------------------")

Length of the set it_companies:  7
------------------------------------------------------------------------------------------------
{'Oracle', 'Twitter', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'Microsoft'}
------------------------------------------------------------------------------------------------
{'Twitter', 'Infosys', 'Facebook', 'Alpha', 'Google', 'IBM', 'Oracle', 'Amazon', 'Microsoft', 'Tesla', 'Apple'}
------------------------------------------------------------------------------------------------
{'Twitter', 'Infosys', 'Facebook', 'Alpha', 'Google', 'IBM', 'Oracle', 'Microsoft', 'Tesla', 'Apple'}
------------------------------------------------------------------------------------------------
Union of A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
------------------------------------------------------------------------------------------------
Intersection of A and B:  {19, 20, 22, 24, 25, 26}
------------------------------------------------------------------------------------------------
Is A subset of B:  True
------------------------------------------------------------------------------------------------
Are A and B disjoint sets:  False
------------------------------------------------------------------------------------------------
After joining A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
After joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
------------------------------------------------------------------------------------------------
Symmetric difference of A and B:  {27, 28}
------------------------------------------------------------------------------------------------
Length of list age:  8
Length of age_set is:  5
------------------------------------------------------------------------------------------------

In [5]:
radius = 30 #initialising the radius of circle as 30

#calculating the area of circle using the formula pie*r*r
_area_of_circle_ = 3.14*(radius**2) 
print("Area of circle with radius 30 is: ", _area_of_circle_)
#calculating the circumfrence of circle using the formula 2*pie*r
_circum_of_circle_ = 2*3.14*radius 
print("Circumfrence of a circle with radius 30 is: ", _circum_of_circle_)

#taking the radius as input from user 
rad = float(input("Enter radius: ")) 
#calculating the area of circle for the given radius
area = 3.14*(rad**2)
print("Area of circle with radius", rad, " is: ", area)

Area of circle with radius 30 is:  2826.0
Circumfrence of a circle with radius 30 is:  188.4
Enter radius: 35
Area of circle with radius 35.0  is:  3846.5

In [6]:
string = "I am a teacher and I love to inspire and teach people" #given sentence
#splitting the given sentence using the space as a delimiter
words = string.split(" ")

#eliminating the duplicate words by converting it into set
words_set = set(words)

print("Number of unique words from the sentence is: ",len(words_set)) #printing the length of set with unique words
print("Unique words from the sentence is: ",words_set) #printing the set of unique words

Number of unique words from the sentence is:  10
Unique words from the sentence is:  {'people', 'inspire', 'am', 'to', 'and', 'a', 'teach', 'I', 'love', 'teacher'}

In [7]:
# '\' is an escape character and \t gives a tab space, \n gives a new line
#printing in a single print statement by using the tab space, new line
print("Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [8]:
radius = 10 #initializing radius to 10
area = 3.14*radius**2 #calculating the area

#printing the result with text
print("The area of a circle with radius {} is {} meters square".format(radius,int(area)))

The area of a circle with radius 10 is 314 meters square

In [9]:
a = N = int(input("Enter number of Students:")) #taking number of weights as N
lbs_list = [] #empty list to store weights in lbs
i=1

#while loop is used to get all the weights in lbs from user
while(N != 0):
    m = int(input("Enter the Weight of Student {} in lbs: ".format(i))) #input of weights from user
    lbs_list.append(m) #appending each weight to the lbs_list
    N = N - 1
    i = i + 1
print("\nWeights of {} Students in lbs: ".format(a), lbs_list)

kgs_list = [] #empty list to store weights in kgs
N = len(lbs_list)
j = 0
while(j != N): #while loop helps us to iterate through lbs_list
    kgs_list.append(lbs_list[j]*0.45359) #converts the weights from lbs to kgs and appends to kgs_list
    j = j + 1
print("Weights of {} Students in Kgs: ".format(a), kgs_list)

Enter number of Students:3
Enter the Weight of Student 1 in lbs: 35
Enter the Weight of Student 2 in lbs: 36
Enter the Weight of Student 3 in lbs: 37

Weights of 3 Students in lbs:  [35, 36, 37]
Weights of 3 Students in Kgs:  [15.87565, 16.32924, 16.78283]